.wrapper-card-content{
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: row-wrap; */
    flex-flow: row wrap;
    width: 100%;
}
.content-card{
    width: 41.5%;
    margin-right: 30px;
    margin-bottom: 30px;
}
.content-card img{
    width: 100%;
    height: 200px;
}
.content-card h2{
    font-size: 25px;
}
.content-card button{
    border: none;
    background: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}